<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="integratedproject.unilife_v1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UniLife"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".MainScreenActivity"
            android:label="Home" />
        <activity android:name=".newEventActivity" />
        <activity android:name=".settingsActivity" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".SearchFriendsActivity"
            android:label="Add Friends" />
        <activity
            android:name=".FriendRequestsActivity"
            android:label="Friend Requests" />
        <activity
            android:name=".FriendsActivity"
            android:label="Friends"
            ></activity>
    </application>

</manifest>